/* 404 Page style */

@media (max-width: $breakpoint_lg) {
  .post_404 {
    .number-title {
      font-size: calc(286px * 0.8);
      margin-bottom: calc(-20px * 0.8);
    }
    .btn {
      margin-top: 30px;
    }
  }
}

@media (max-width: $breakpoint_md) {
  .post_404 {
    .number-title {
      font-size: calc(286px * 0.6);
      margin-bottom: calc(-20px * 0.6);
    }
    .btn {
      margin-top: 25px;
    }
  }
}

@media (max-width: $breakpoint_sm) {
  .post_404 {
    .number-title {
      font-size: calc(286px * 0.4);
      margin-bottom: calc(-20px * 0.4);
    }
  }
}
