// Infopage

// Variables
// Mixins
@mixin easeInOut {
  transition: all 0.5s ease-in-out;
}
// Site width ( max width of site content )
$site_width: 100vw;
// Breakpoints ( viewport widths that serve as breakpoints for style and layout changes )
$breakpoints: (
  xl: 1360px,
  lg: 1200px,
  md: 768px,
  sm: 480px,
  xs: 0
); // Breakpoints turned to variables for more simple use in your custom media queries // Pay attention that breakpoints have 1px subtracted from them to fit the use of desktop first applications
$breakpoint_xl: map-get($breakpoints, xl) - 1;
$breakpoint_lg: map-get($breakpoints, lg) - 1;
$breakpoint_md: map-get($breakpoints, md) - 1;
$breakpoint_sm: map-get($breakpoints, sm) - 1;
// Gutters ( site paddins (left and right) ) that can be changed according to breakpoints // Column paddings ( left and right ) that can be changed according to breakpoints // Colors
// Color an background-color classes for custom use
$red1: #d07c7c;
// Others ( add all values that you think should be variables )
// Import Styles ( comment out any partial of framework that does not fit your needs )
// Framework
@import "_resets";
@import "_cookies";
@import "_browser-update";
@import "_404";
// Theme
@import "typography";
@import "site-content";
@import "header-footer";
@import "menu";
